page-tips {

    .slide1-content{
        background-color: #0faeb0;
        
    }

    .slide2-content{
        background-color: #D35137;
    }

    .slide3-content{
        background-color: #FBC13B; 
    }

    .slides-tips ion-slide{
        color: white; 
        padding: 20px;
    }

    .content-slide{
        height: 86%;
        margin: auto;
    }

    .slides-tips h1{
        margin: 6rem 0 5rem 0;
    }

    .line-through{
        text-decoration: line-through wavy;
    }

    ion-item-sliding.active-slide .item{
        transition-timing-function: ease-in !important;
    }

    .tips-content-list{
        width:70%;
        margin: auto;
    }

    .tips-content-list ion-item-sliding .item, .tips-content-list ion-item-group .item {
        min-height: 3rem;
        height: 3.5rem;
    }

    // .reorder-active-custom {
    //     -webkit-animation: mymove 2s infinite; /* Chrome, Safari, Opera */
    //     animation: mymove 2s infinite;
    // }

    .reorder-list-active-custom .item {
        transition: -webkit-transform 300ms;
        transition: transform 300ms;
        transition: transform 300ms, -webkit-transform 300ms;
        will-change: transform; 
    }

    /* Chrome, Safari, Opera */
    @-webkit-keyframes mymove {
        100% {-webkit-transform: translateY(30px);}
    }
  
    /* Standard syntax */
    @keyframes mymove {
        100% {transform: translateY(30px);}
    }

}
