home {

    .toast-message {
        text-align: center;
    }

    .toolbar .toolbar-background {
        background: #0FAEB0;
        background: -webkit-gradient(linear, right top, left top, from(#56DCDF), to(#0FAEB0));
        background: linear-gradient(to right, #56DCDF 0%, #0FAEB0 100%);
    }

    .sub-toolbar{
        padding-bottom: 15px;
        background-color: #FFF;
    }

    .subheader-input {
        width: 90%;
        background-color: #FFF;
        color: #0FAEB0 !important;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        margin: auto;
        font-weight: 400;
        height: 45px;

        ion-icon {
            font-size: 3.2em;
            font-weight: lighter;
        }

        ion-icon.search-item{
            font-size: 2.5em;
        }

        .form-control{
            font-family: "Open Sans", "Roboto";
            font-size: 1.8rem;
            
            .text-input{
                letter-spacing: 1px !important;
            }
        }
        
    }

    .text-input::-webkit-input-placeholder {
        text-indent: 0;
        color: #dedede;
        text-align: center;
        font-size: 1.55rem;
        font-family: "Open Sans light italic";
      }

    .sub-toolbar .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }

    .line-through{
        text-decoration: line-through wavy;
    }
    
    .bought-icon{
        color : #D35137;
    }

    .not-bought-icon{
        color : #32db64;
    }
    
    .footer-icon{
        zoom: 1.6;
        padding: 0 2rem; 
    }

    .list-header-divider{
        color: #D35137;
        text-transform: uppercase;
        font-size: 1.7rem;
        font-weight: bolder;
        font-family: "Open Sans light italic";
        letter-spacing: 2px;
    }

    .hide-btn{
        display: none;
    }

    .selectable-item{
        -webkit-user-select: text !important; 
        -khtml-user-select: text !important; 
        -moz-user-select: text !important; 
        -ms-user-select: text !important; 
        -o-user-select: text !important; 
        user-select: text !important;
    }

    .highlight {
        background-color: #FBC13B !important;
    }

    .selected {
        background: linear-gradient(to right, #56DCDF 0%, #0FAEB0 100%) !important;
        color: white !important;
        // padding-left: 150px;
    }

    .slide-class{
        // padding-left : 150px;
    }

}

.tab-badge {
    padding: 1px 5px ;
    line-height: 10px ;
    font-weight: normal;
    color: white;
}

.has-icon .tab-badge {
    right: calc(50% - 22px);
}

ion-toast.warning-message{
    color : #FFC527 !important;
}

input, textarea { 
    -webkit-user-select: auto !important; 
    -khtml-user-select: auto !important; 
    -moz-user-select: auto !important; 
    -ms-user-select: auto !important; 
    -o-user-select: auto !important; 
    user-select: auto !important; 
}

.fab {
    contain: layout !important;
}




