<ion-header>
  <ion-navbar color="primary">
    
    <ion-title text-center>
      Ma liste de courses
    </ion-title>
    
    <ion-buttons end>
      <button ion-button icon-only color="clear" (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>    

  </ion-navbar>

  <ion-toolbar class ="sub-toolbar">
    <form [formGroup]="itemForm" (ngSubmit)="addItem()">
        <ion-item class="subheader-input">
          <ion-input type="text" class="form-control" formControlName="itemName" [(ngModel)]="newItem" name="shoppingItem" 
                      placeholder="Insérer un nouvel article ici" 
                      autocomplete="on">
          </ion-input>
          <button ion-button color="secondary" [class.hide-btn] = "!itemForm.valid" [disabled]="!itemForm.valid" clear item-end><ion-icon name="ios-add-outline"></ion-icon>
          </button>
        </ion-item>
    </form>
  </ion-toolbar>
</ion-header>
 
<ion-content>

  <ion-list #myList *ngFor="let itemGroup of existingItemsGroup ; let ind = index">

        <ion-list-header color="light" text-center>
            <ion-label class="list-header-divider">{{ itemGroup }}</ion-label>
        </ion-list-header>

        <ion-item-group reorder="true" (ionItemReorder)="reorderItems($event)">

          <ion-item-sliding #slidingItem *ngFor="let item of shoppingItems ; let i = index">
          
            <ion-item *ngIf = "item.itemGroup == itemGroup" [class.line-through] = "item.isBought">
              <ion-label class="selectable-item" (click)="openSlide(item, slidingItem)">{{ item.itemName }}</ion-label>
            </ion-item>
            
            <ion-item-options side="right">
              <button ion-button color="primary" icon-only (click) = "onBought(item, slidingItem)" clear [ngClass]="{'bought-icon': item.isBought, 'not-bougth-icon' : !item.isBought }"><ion-icon name="ios-cart-outline"></ion-icon></button>
              <button ion-button color="ternary" icon-only (click)="update(item, i, slidingItem)" clear><ion-icon name="ios-create-outline"></ion-icon></button>
              <button ion-button color="danger" icon-only (click)="delete(item, i, slidingItem)" clear><ion-icon name="ios-trash-outline"></ion-icon></button>
            </ion-item-options>

            <ion-item-options side="left" (ionSwipe) = "onBought(item, slidingItem)">
            </ion-item-options> 
              
          </ion-item-sliding>
        </ion-item-group>
        

  </ion-list>

</ion-content>