home {

    .toast-message {
        text-align: center;
    }

    .toolbar{
        padding: 0;
        background-color: #FFF;
    }

    .subheader-input {
        width: 100%;
        // -moz-border-radius: 50px;
        // -webkit-border-radius: 50px;
        // border-radius: 50px;
        // border: 2px solid #EAEAEA;
        background-color: #FFF;
        color: #757575;
        //box-shadow: 0px 3px 14px inset #ddd;

        ion-icon {
            font-size: 3.1em;
            font-weight: lighter;
        }
    }

    .text-input::-webkit-input-placeholder {
        text-indent: 0;
        //color: #757575;
        text-align: center;
      }

    .toolbar .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }

    .line-through{
        text-decoration: line-through wavy;
    }
    
    .bought-icon{
        color : #FF3028;
    }

    .not-bought-icon{
        color : #32db64;
    }
    
    .footer-icon{
        zoom: 1.7;
        padding: 0 2rem; 
    }

    .list-header-divider{
        color: #D35137;
        text-transform: capitalize;
        font-size: 1.6rem;
        font-weight: lighter;
    }

    .hide-btn{
        display: none;
    }
}

.tab-badge {
    padding: 1px 5px ;
    line-height: 10px ;
    font-weight: normal;
}

.has-icon .tab-badge {
    right: calc(50% - 22px);
}

ion-toast.warning-message{
    color : #FFC527 !important;
}

ion-alert.custom-alert button.alert-button-group {
    width: 33.33%;
}

ion-alert.custom-alert .alert-button-group .button-inner {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

ion-alert.custom-alert .alert-button-group-vertical {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row ;
}




