// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


$color-primary: #0FAEB0;;
$color-secondary: #D35137;
$color-ternary:    #FBC13B;
$color-white:    #FFF;

ion-app {
    font-family: "Open Sans", "Roboto" !important;
    font-size: 1.4rem;
    background-color: #f7f7f7;
}

.toast-class .toast-wrapper .toast-container {
    text-align: center;
}

.toast-class .toast-wrapper{
    width: 55%;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    //background: rgba(60,60,60,0.7);
    background: $color-primary;
    opacity: 0.9 !important;
}

.toast-class .toast-wrapper .toast-container .toast-message{
    font-size: 1.8rem;
    line-height: 30px;
}

.toast-warning-class .toast-wrapper{
    background: $color-secondary;
}

.action-sheet-custom .action-sheet-container .action-sheet-button{
    color: darkslategray; // #2F4F4F
}

.action-sheet-custom .action-sheet-container .action-sheet-button .action-sheet-icon{
    color: $color-primary;
}

.toolbar .toolbar-background, .app-menu-toggle {
    background: $color-primary;
    background: -webkit-gradient(linear, right top, left top, from(#56DCDF), to($color-primary));
    background: linear-gradient(to right, #56DCDF 0%, $color-primary 100%);
}

.toolbar{
    text-transform: uppercase;
}

.toolbar-title{
    font-family: "Open Sans";
    font-size: 1.75rem !important;
    color: $color-white;
}

.back-button {
    color : $color-white;
}

.back-button:hover {
    color : $color-secondary !important;
}

.item{
    font-family: "Open Sans", "Roboto" !important;
    color: #333 !important;
    letter-spacing: 0.5px;
}

.selectable-item{
    -webkit-user-select: text !important; 
    -khtml-user-select: text !important; 
    -moz-user-select: text !important; 
    -ms-user-select: text !important; 
    -o-user-select: text !important; 
    user-select: text !important;
}

.tabs {
    .tab-button, .tab-button-icon {
        // color: $color-secondary; 
    }

    .tab-button[aria-selected=true], .tab-button[aria-selected=true] .tab-button-icon {
        color: red;
    }
}

.toggle-menu:hover{
    color: $color-secondary !important;
}

.app-menu-toggle .toolbar-title {
    color : $color-white !important;
}

.menu-content-label{
    padding-left: 1.5rem;
    font-weight: bold;
}

ion-alert.custom-alert button.alert-button-group {
    width: 33.33%;
}

ion-alert.custom-alert .alert-button-group .button-inner {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

ion-alert.custom-alert .alert-button-group-vertical {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row ;
}

ion-alert.custom-alert .alert-head, ion-alert .alert-head {
    background-color: $color-primary;
    color: $color-white;
    text-transform: uppercase;
    text-align : center !important;
    padding: 15px 0px 15px 0px !important;
}

ion-alert.custom-alert .alert-head .alert-title, ion-alert .alert-head .alert-title{
    font-size : 20px;
}

ion-alert .alert-message{
    padding-top: 20px !important;
}

/** Global ion header style  */
ion-navbar{
    background-color: $color-primary;
    color: $color-white;

    ion-title{
        text-align: center;
    }
}
/**  */

/** Global ion Menu style*/
ion-menu {
    .menu-inner .header{

    }
    .menu-inner .content{
        // background-color : $color-primary;
        // color : $color-white;
    }
}
