page-save-list-detail {

    .list-header-divider{
        color: #D35137;
        text-transform: capitalize;
        font-size: 1.7rem;
        font-weight: bolder;
        font-family: "Open Sans light italic";
    }

    .line-through{
        text-decoration: line-through wavy;
    }
}
