page-popover {

    .popover-items ion-icon{
        font-size : 2.2rem;
    }

    .popover-items span{
        padding-left: 4px;
        font-size: 1.2rem;
    }

    .label{
        margin: 0 1px !important;
    }
}
